.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
  height: 25px;
}

.icon:not(:first-child):not(:last-child) {
  margin: 10px;
}

.icon:first-child {
  margin: 10px 10px 10px 0;
}

.icon:last-child {
  margin: 10px 0 10px 10px;
}

.icon-green path {
  fill: #01C688;
}

.icon-white path {
  fill: #FFFFFF;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icons {
    margin: 0;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .icons {
    margin: 0;
    padding-top: 10px;
  }

  .icon-green svg,
  .icon-white svg,
  .icon-green path,
  .icon-white path {
    transition: all .35s ease-in-out;
  }

  .icon-green path {
    fill: transparent;
    stroke: #01C688;
    stroke-width: 1.5px;
  }

  .icon-white path {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 1.5px;
  }

  .icon-white:hover svg,
  .icon-green:hover svg {
    transform: scale(1.25);
  }

  .icon-green:hover path {
    fill: #01C688;
  }

  .icon-white:hover path {
    fill: #FFFFFF;
  }
}
