.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.icon:not(:first-child):not(:last-child) {
  margin: 10px;
}

.icon:first-child {
  margin: 10px 10px 10px 0;
}

.icon:last-child {
  margin: 10px 0 10px 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icons {
    margin: 0;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .icons {
    margin: 0;
    padding-top: 10px;
  }
}
