# Ignore all node_modules
node_modules/*

# ...except the symlink to ourselves.
!node_modules/APP

# errors/logs
npm-debug.log
yarn-error.log

# compiled assets
/build

# Misc
.DS_Store
package-lock.json
yarn.lock
#
