@import url(../../fonts.css);

.UserDetail {
  background: #FFFFFF;
  height: 100%;
  overflow: auto;
  margin: 0 -15px;
}

.UserDetail__header {
  background: #12CD6A;
  min-height: 200px;
  height: auto;
  padding: 20px;
  color: #FFFFFF;
  font-family: Open Sans Regular;
  box-shadow: 0 -17px 15px -17px #099b4e inset;
}

.UserDetail__header-avatar {
  width: 50%;
  max-width: 150px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-left {
  text-align: center;
  height: 100%;
}

.UserDetail__header-name {
  font-size: 1.5em;
  text-align: center;
}

.UserDetail__header-title {
  font-size: 1.25em;
  font-family: Open Sans Bold;
  margin: 10px auto;
}

.UserDetail__header- {
  font-size: 17px;
  font-family: Open Sans Bold;
  margin-top: 10px;
}

.UserDetail__header-location {
  font-size: 1em;
  margin: 0 auto 15px;
}

.header-right {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.UserDetail__header-date {
  margin-top: 10px;
  font-size: .75em;
}

.UserDetail__summary,
.UserDetail__sidebar {
  background: #FFFFFF;
}

.UserDetail__summary-section {
  padding: 10px 0;
  height: auto;
}

.UserDetail__summary-section p {
  font-family: Open Sans Regular;
}

.github,
.link,
.twitter,
.linkedin {
  transition: all .35s ease-in-out;
  fill: #FFFFFF;
}

.twitter {
  margin-bottom: 2px;
}

.link {
  margin-top: 28px;
}

.github:hover,
.link:hover,
.twitter:hover,
.linkedin:hover {
  transform: scale(1.25);
}

@media only screen
and (min-width: 992px) {
  .UserDetail__header {
    padding: 25px;
  }

  .UserDetail__header-avatar {
    width: auto;
    min-width: 150px;
    max-width: 250px;
    margin: 0;
  }

  .UserDetail__header-name {
    margin: 0;
    font-size: 3em;
    text-align: left;
  }

  .UserDetail__header-title {
    margin: 10px 0;
    padding: 40px 0 0 30px;
  }

  .UserDetail__header-location {
    padding-left: 30px;
    margin: 0 0 5px 0;
  }

  .header-left {
    text-align: left;
    padding: 20px 0 0 35px;
  }

  .header-right {
    text-align: left;
    height: 180px;
  }
}
