/* to remove padding from Col */
.chip-container {
  padding: 0;
}
/* flex container that wraps the chips */
.chip-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

/* individual chips */
.chip-round {
  font-size: 11px;
  font-family: Open Sans Bold;
  color: #01C688;
  background: #FFFFFF;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
}

.chip-round:not(:last-child) {
  margin: 0 10px 0 0;
}

.chip-square-bordered--rounded {
  background: #FFFFFF;
  border-radius: 3px;
  border: 2px solid #01C688;
  color: #01C688;
  font-size: 14px;
  font-family: Open Sans Bold;
  padding: 5px 10px;
  margin: 10px 5px 0 0;
  display: inline-block;
  width: auto !important;
}

.chip-square-bordered {
  font-size: 11px;
  font-family: Open Sans Bold;
  color: #9FA5A9;
  background: #FFFFFF;
  border: 2px solid #9FA5A9;;
  display: inline-block;
  padding: 3px 5px;
  margin: 5px 3px;
}

@media only screen and (min-width: 992px) {
  .chip-wrapper {
    margin: 0 0 0 30px;
  }
}
