@import url(../../fonts.css);

/* ------ Misc (App-wide) ------ */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: none;
}

.container__flex {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 500px) {
  .container__flex {
    flex-direction: row;
  }
}

.glyphicon {
  padding-right: 5px;
}

/* ------ Navbar ------ */

.navbar {
  background: #FFFFFF;
  margin: 0;
}

.nav a {
  color: #333333;
  font-family: Open Sans Bold;
  font-size: 15px;
  text-transform: uppercase;
}

.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #333333;
  margin-top: 6px;
}

.active, a:hover, a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li:active a,
.dropdown-menu>li.active a,
.dropdown-menu>li.active a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>:hover,
.dropdown-menu>li>a:focus {
  color: #12CD6A;
  background: none;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #333333;
  height: 3px;
}

.navbar-default {
  background: #FFFFFF;
  border: none;
}

.navbar-brand {
  padding: 0;
  margin: 6px 15px;
  cursor: pointer;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  margin: 14px;
  border: none;
  background: none;
}

.navbar-fixed-top .navbar-collapse {
  text-align: center;
  font-size: larger;
  max-height: none;
  width: inherit;
  height: 100vh;
}

.dropdown-menu {
  text-align: center;
  min-width: 0;
  border: none;
}

/* desktop only dropdown open on hover */
@media only screen
and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.2s;
  }
}

.btn-oval {
  margin: 8px 0;
  padding: 12px 30px;
  font-size: 13px !important;
  font-family: Open Sans Bold;
  border: solid 2px #12CD6A;
  border-radius: 25px;
  width: 100%;
}

.btn-oval__black {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.btn-oval:hover,
.btn-oval:focus,
.btn-oval:active:focus,
.btn-oval.active,
.btn-oval.active:hover,
.btn-oval.active:focus {
  background: #12CD6A;
  border: solid 2px #12CD6A;
  color: #FFFFFF;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.btn-oval__danger:hover,
.btn-oval__danger:focus,
.btn-oval__danger:active:focus {
  background: #C33A3C;
  border-color: #C33A3C;
  color: #FFFFFF;
}

.btn-xs {
  width: auto !important;
  background: none;
}

.btn-xs.btn-danger {
  background: #53585A !important;
  border: solid 2px #53585A ;
}

.btn-xs.btn-danger:hover {
  background: #C33A3C !important;
  border-color: #C33A3C;
  color: #FFFFFF;
  transition: all 0.1s ease-in;
  transition-duration: 0.1s;
}

.btn-xs.btn-primary {
  background: #53585A !important;
  border: solid 2px #53585A ;
}

.btn-xs.btn-primary:hover {
  background: #12CD6A !important;
  border: solid 2px #12CD6A;
  color: #FFFFFF;
  transition: all 0.1s ease-in;
  transition-duration: 0.1s;
}
