
.App {
  text-align: left;
}

@media (min-width: 425px) {
  .App {
    padding: 70px;
  }
}

@media (max-width: 424px) {
  .App {
    padding: 70px 30px;
  }
}

a {
  color: #000000;
}

.active, a:hover, a:focus {
  color: #D33737;
  text-decoration: none;
}

.icon-bar {
  background: #000000;
}

.navbar-default {
  background: #FFFFFF;
  border: none;
}

.navbar-brand {
  padding: 5px 0 0 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  margin-top: 15px;
  border: none;
  background: none;
}

.navbar-fixed-top .navbar-collapse {
  text-align: center;
  font-size: larger;
  height: 100vh;
  max-height: none;
}
