.App {
  text-align: left;
}

@media (min-width: 425px) {
  .App {
    padding: 70px;
  }
}

@media (max-width: 424px) {
  .App {
    padding: 70px 30px;
  }
}

a {
  color: #000000;
}

.active, a:hover, a:focus {
  color: #D33737;
  text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #000000;
  height: 3px;
}

.navbar-default {
  background: #FFFFFF;
  border: none;
}

.navbar-brand {
  padding: 0;
  margin-left: 20px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  margin-top: 8px;
  border: none;
  background: none;
}

.navbar-fixed-top .navbar-collapse {
  text-align: center;
  font-size: larger;
  height: 100vh;
  max-height: none;
}

.dropdown-menu {
  text-align: center;
  min-width: 0;
}

/* desktop only dropdown open on hover */
@media only screen
and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
