.About {
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

/* HEADER */
.About__hero {
  background-image: url('../../img/women-whiteboard__xs.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: calc(100vh - 60px);
  width: 100%;
  margin: 0;
  text-align: center;
}

.hero-overlay {
  height: inherit;
  width: 100%;
  background: #000000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
}

.About__hero-header {
  z-index: 5;
  position: relative;
  padding-top: 30%;
}

.About__hero-heading {
  font-size: 1.25em;
  font-weight: 700;
}

.About__hero-separator {
  margin: 30px auto;
  border-color: #01C688;
  border-width: 3px;
  max-width: 50px;
}

.About__hero-text {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 1.25em;
}

.About__text {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.About__section {
  padding: 100px 0;
}

.bg-primary {
  background: #01C688;
}

.bg-dark {
  background: #222222;
  color: #FFFFFF;
}

.section-heading {
  margin-top: 0;
}

.About__separator {
  border-color: #01C688;
  border-width: 3px;
  max-width: 50px;
}

.About__separator-white {
  border-color: #FFFFFF;
  border-width: 3px;
  max-width: 50px;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

.service-box .About-text  {
  margin-bottom: 0;
}

.text-faded {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.9);
}

.text-primary {
  color: #01C688;
}

.sr-icons {
  font-size: 3em;
}

@media (min-width: 768px) {
  .About__hero {
    background-image: url('../../img/women-whiteboard__lg-optimized.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .About__hero-header {
    padding-top: 13%;
  }

  .About__hero-heading {
    font-size: 3em;
  }

  .About__hero-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
  }

  .About__text {
    font-size: .8em;
    margin: auto;
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .about .service-box {
    margin: 20px auto 0;
  }
}
