.CreditCard {
  max-width: 400px;
}

.alert {
  margin-top: 20px;
}

h5 {
  margin-top: 0px;
}

.cc-logo {
  float: left;
  color: #aaa;
  font-size: 26px !important;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.exp-cvc {
  width: 90px !important;
  min-width: 0 !important;
}

.credit-card-list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.active {
  color: #666;
}
