@import url(../../fonts.css);

.JobInfo {
  padding: 60px 0 35px 0;
}

.JobInfo-header {
  background: #12CD6A;
  height: auto;
  padding: 25px;
  color: #FFFFFF;
  font-family: Open Sans Regular;
  box-shadow: 0 -17px 15px -17px #099b4e inset;
}

.header-left {
  text-align: left;
}

.JobInfo-title {
  margin: 0;
  font-size: 2em;
}

.JobInfo-employer,
.JobInfo-payrate {
  font-size: 17px;
  font-family: Open Sans Bold;
  margin-top: 10px;
}

.JobInfo-location {
  font-size: .75em;
}

.header-right {
  text-align: right;
}

.JobInfo-type {
  font-size: 11px;
  font-family: Open Sans Bold;
  color: #12CD6A;
  background: #FFFFFF;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 0 0 10px;
}

.JobInfo-date {
  margin-top: 15px;
  font-size: .75em;
}

.JobInfo-summary {
  padding: 25px;
}

@media only screen
and (max-width: 767px) {
  .JobInfo-header {
    padding: 20px;
  }
  .JobInfo-title {
    font-size: 1.5em;
    text-align: center;
  }
  .JobInfo-date {
    margin-top: 10px;
  }

  .header-left,
  .header-right {
    text-align: center;
  }
}
