@import url(../../fonts.css);

.Home {
  text-align: center;
}

.Home-header {
  padding-top: 60px;
  z-index: -4;
}

.Home-hero {
  padding: 0 !important;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0;
  border-radius: 0px !important;
  background: url("../../img/women-pairing__xs.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.parallax-content {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh - 60px);
  padding: 18% 15px 0;
  color: #EEEEEE;
  font-family: Lato Black;
}

.tagline {
  font-size: 58px;
}

.JobBoard,
.CandidateSearch {
  z-index: 2;
  padding: 0;
}

.search-header {
  padding: 25px 12px 0 12px;
}

.JobList {
  padding-bottom: 25px;
}

.paginate-container {
  padding: 25px 0 0;
}

.btn-paginate {
  margin: 0 25px;
  max-width: 60px;
}

@media only screen
and (min-width: 767px) {
  .Home-hero {
    padding: 0 !important;
    width: 100%;
    height: calc(100vh - 60px);
    margin: 0;
    border-radius: 0px !important;
    background: url("../../img/women-pairing__lg-optimized.jpg") no-repeat;
    background-position: right;
    background-attachment: fixed;
  }
}

.candidate {
  padding: 0;
}
