@import url(../../fonts.css);

.Home {
  text-align: center;
}

.Home-header {
  transition: all 5s ease-in 1s;
  z-index: -4;
  background: #404648;
  margin: 0;
}

.Home-hero {
  padding: 0 !important;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0;
  border-radius: 0px !important;
  background: url("../../img/women-pairing__xs.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.parallax-content {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh - 60px);
  padding: 22% 30px 0;
  color: #EEEEEE;
  font-family: Merriweather;
}

@media only screen and (max-width: 320px) {
  .parallax-content {
    padding: 5% 30px 0;
  }
}

.Home__hero-tagline {
  font-size: 3em !important;
}

.Home__hero-separator {
  margin: 30px auto;
  border-color: #01C688;
  border-width: 3px;
  max-width: 50px;
}

.Home__hero-subtag {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 1.5em;
}

#search {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

.JobBoard,
.CandidateSearch {
  z-index: 2;
  padding: 0;
}

.search-header {
  padding: 25px 12px 0 12px;
}

.JobList,
.CandidateList {
  padding-bottom: 25px;
}

.paginate-container {
  padding: 25px 0 0;
}

.btn-paginate {
  margin: 0 25px;
  max-width: 60px;
}

.paginate {
  padding-top: 30px;
}

.page-number{
  display: inline;
}

@media only screen
and (max-width: 767px) {
  .Home .btn-oval__white {
    background: #01C688;
    border: solid 2px #01C688;
    color: #FFFFFF;
  }
}

@media only screen
and (min-width: 768px) {
  .Home-hero {
    padding: 0 !important;
    width: 100%;
    height: calc(100vh - 60px);
    margin: 0;
    border-radius: 0px !important;
    background: url("../../img/women-pairing__lg-optimized.jpg") no-repeat;
    background-position: right;
    background-attachment: fixed;
  }
  .parallax-content {
    padding: 13% 30px 0;
  }
  .Home__hero-tagline {
    font-size: 4em !important;
  }
  .Home__hero-subtag {
    font-size: 2em;
  }
}
