@import url(../../fonts.css);

.JobCard,
.UserCard {
  border-bottom: 2px solid #E4E4E4;
  transition: border-bottom .3s ease-in;
  padding: 40px 0;
  width: 100%;
  margin: auto;
}

.JobCard:hover,
.UserCard:hover {
  border-bottom: 2px solid #01C688;
  cursor: pointer;
}

.JobCard-title,
.JobCard-payrate,
.UserCard-name,
.UserCard-projects {
  font-size: 17px;
  font-family: Open Sans Bold;
  margin-top: 10px;
}

.JobCard-title,
.JobCard-skills,
.UserCard-name,
.UserCard-skills {
  margin-left: 10%;
  text-align: left;
}

.JobCard-skills,
.UserCard-skills {
  color: #909090;
  font-size: 13px;
}

.JobCard-payrate,
.UserCard-projects {
  margin-top: 35px;
  text-align: right;
}

.JobCard-location,
.UserCard-location {
  font-size: 12px;
  margin-top: 0px;
  font-family: Helvetica Neue;
}

.JobCard-type,
.UserCard-type {
  background: #01C688;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 11px;
  font-family: Open Sans Bold;
  padding: 5px 10px;
  margin: 0 5px;
  display: inline-block;
}

@media only screen
and (max-width: 767px) {
  .JobCard-title,
  .JobCard-skills,
  .JobCard-payrate {
    margin: 5px;
    text-align: center;
  }

  .JobCard {
    padding: 20px 0;
  }
}
