.JobCard {
  border-bottom: 2px solid #E4E4E4;
  transition: border-bottom .3s ease-in;
  padding: 40px 0;
  width: 90vw;
  margin: auto;
}

.JobCard:hover {
  border-bottom: 2px solid #12CD6A;
}

.JobCard-type {
  background: #12CD6A;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 11px;
  padding: 10px;
  margin: 5px;
}
