<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HireBlack.io</title>
</head>
<body>
    <h1>Employer Login</h1>
    <p>{{error}}</p>
    <form method="POST" action="/user/login/employer">
        {% csrf_token %}
        <label>Email</label>
        <input type="email"  name="email"/>
        <label>Password</label>
        <input type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
    <a href="/user/register/employer">Signup?</a>
</body>
</html>