.Dashboard {
  /*padding: 60px 0 0;*/
}

.Dashboard__sidebar {
  text-align: left;
  background: #404648;
  padding: 10px 0;
  align-items: stretch;
  color: #E4E4E4;
  flex: 1;
  width: 100%;
}

.Dashboard__content {
  min-height: 100vmax;
  overflow: auto;
  background: #E4E4E4;
}

.Dashboard__content--white {
  min-height: 100vmax;
  overflow: auto;
  background: #FFFFFF;
  padding: 0;
}

.Dashboard__nav-item a {
  text-align: center;
  color: #E4E4E4;
  transition: color .25s ease-in .25s;
}

.Dashboard__nav-item a:hover,
.Dashboard__nav-item a:active,
.Dashboard__nav-item a:focus {
  background: #53585A !important;
}
