.ManageJobs,
.Applicants,
.SavedJobs,
.Applications,
.Projects {
  padding: 5px 10px;
  background: #E4E4E4;
  height: 100%;
}

.ManageJobs-header,
.Applicants-header,
.SavedJobs-header {
  text-align: center;
}

table {
  background: #F5F5F5;
}

.table-responsive {
  margin: 25px 0;
}

td {
  font-size: .75em;
}

thead {
  background: #FFFFFF;
}

tbody > tr:hover {
  background: #FFFFFF;
  transition: all 0.1s ease-in;
  transition-duration: 0.1s;
}

/* ---- APPLICANTS ---- */

.Applicants .panel-group {
  margin-top: 23px;
}

.Applicants__panel .panel-heading {
  cursor: pointer;
}

.Applicants__panel .table-responsive {
  margin: 0;
}

.Applicants__panel .table {
  background: none;
}

.Applicants__panel .icons {
  margin-top: -10px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .ManageJobs,
  .Applicants,
  .SavedJobs,
  .Applications,
  .Projects {
    padding: 5px 40px;
  }

  .Applicants-header,
  .ManageJobs-header,
  .Applications-header,
  .SavedJobs-header {
    text-align: left;
  }

  td:not(:first-child) {
    text-align: center;
  }
}
