.ManageJobs,
.SavedJobs {
  padding: 5px 10px;
}

.ManageJobs-header,
.SavedJobs-header {
  text-align: center;
}

table {
  background: #F5F5F5;
}

.table-responsive {
  margin: 25px 0;
}

td {
  font-size: .75em;
}

thead {
  background: #FFFFFF;
}

tbody > tr:hover {
  background: #FFFFFF;
  transition: all 0.1s ease-in;
  transition-duration: 0.1s;
}

@media only screen and (min-width: 768px) {
  .ManageJobs,
  .SavedJobs {
    padding: 5px 40px;
  }

  .ManageJobs-header,
  .SavedJobs-header {
    text-align: left;
  }

  td:not(:first-child) {
    text-align: center;
  }
}
