@import url(./fonts.css);

body {
	font-family: Open Sans Semibold;
	font-size:21px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body.modal-open {
	overflow: overlay;
	padding: 0 !important;
}

a, a:hover, .active {
  text-decoration: none;
}
