/* ----- SearchBar ----- */

.filter-container {
  height: auto;
  background: #01C688;
  padding: 32px 10px;
}

.filter-label {
  color: #FFFFFF;
  font-size: 2rem !important;
  margin-bottom: 15px;
}

.filter {
  margin: 0 auto;
  width: 100% !important;
}

.filter-button {
  height: 42px;
}

@media only screen and (min-width: 768px) {
  .filter-label {
    margin-right: 15px;
  }

  .filter {
    width: auto !important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .filter-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-width: 0 0 0 1px;
  }

  .filter-container {
    height: 108px;
  }
}
