.SearchAdvanced__container {
  text-align: left;
  background: #E4E4E4;
  padding-bottom: 10px;
  align-items: stretch;
  flex: 1;
  min-width: 250px;
}

.SearchAdvanced {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchAdvanced .form-group {
  min-width: 150px
}

.SearchAdvanced__chip-container {
  padding: 0 0 15px 0;
}

.SearchAdvanced__button-container {
  padding: 10px;
  width: 100%;
}

.SearchAdvanced__header {
  text-align: center;
}

.search-chip {
  background: #FFFFFF;
  border-radius: 3px;
  border: 2px solid #01C688;
  color: #01C688;
  font-size: 14px;
  font-family: Open Sans Bold;
  padding: 5px 10px;
  margin: 10px 5px 0 0;
  display: inline-block;
  width: auto !important;
}

.search-chip:hover,
.search-chip:focus,
.search-chip:active:focus,
.search-chip.active,
.search-chip.active:hover,
.search-chip.active:focus,
.SearchAdvanced__button--warning:hover {
  background: #F0AD4E;
  border: solid 2px #F0AD4E;
  color: #FFFFFF;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.SearchAdvanced__button:hover {
  background: #01C688;
  border: solid 2px #01C688;
  color: #FFFFFF;
  box-shadow: none;
}

.SearchAdvanced__button,
.SearchAdvanced__button--warning {
  border: 2px solid #FFFFFF;
  width: 100%;
  margin-bottom: 5px;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.SearchAdvanced__zipcode input,
.SearchAdvanced__distance input {
  min-width: 150px !important;
  max-width: 150px !important;
  font-size: 16px;
}

.SearchAdvanced .form-group label {
  font-size: 14px;
}

@media only screen and (min-width: 500px) {
  .SearchAdvanced__container {
    border-right: 2px solid #E4E4E4;
    border-bottom: 0;
  }
}

/* ----- Tablet fix ----- */
@media only screen
and (min-width: 500px)
and (max-width: 1024px) {
  .SearchAdvanced {
    padding-left: 0;
  }
}
