/* needs to be inside of a flex container
(see JobBoard class in Home.css) */
.Sidebar {
  width: 100%;
  padding-left: 25%;
}

.Sidebar__header {
  text-align: center;
  margin-left: -35%;
}

.Sidebar__button-container {
  padding: 10px 0;
  margin-left: -40%;
  display: block;
}
