.Select {
  height: auto;
}

.Select div {
  border: 0;
}

.Select--multi .Select-multi-value-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.Select--multi .Select-value {
  background: rgba(18,205,106, 0.08);
  border: solid 1px rgba(18,205,106, 0.24);
  color: #01C688;
  width: max-content;
  border-radius: 3px;
  margin: 5px 2px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.Select--multi .Select-value-icon {
  padding-top: 3px;
  border-color: rgba(18,205,106, 0.24);
}

.Select--multi .Select-value-icon:hover {
  color: #01C688;
  background: rgba(1, 198, 136, 0.15);
}

.Select--multi .Select-value-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Select, .Select.control {
  text-align: left;
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #333;
}

.Select-control {
  height: 42px !important;
  border-bottom: 2px solid #C2C2C2 !important;
  transition: border 0.5s ease-in-out;
}

.Select-option.is-focused {
  background-color: rgba(1, 198, 136, 0.15) !important;
}

.Select-menu-outer {
  z-index: 15;
}
