@import url(../../fonts.css);

.form-fields-container--left,
.form-fields-container--right {
  padding: 15px;
}

.btn-login-reg {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: none;
  padding: 11px;
  width: 100%;
}

.form-control-feedback {
  padding-top: 10px;
}

.help-block {
  font-size: .6em;
}

.RegisterForm, .LoginForm {
  padding: 70px 0 25px 0;
  background: #12CD6A;
  min-height: 100vh;
  color: #FFFFFF;
}

.RegisterForm-header,
.LoginForm-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.RegisterForm-heading,
.LoginForm-heading {
  text-align: center;
  color: #FFFFFF;
  font-family: Lato Bold;
  text-transform: uppercase;
  margin: 16px 0;
}

.EditProfile,
.PostJobForm,
.UpdateJobForm {
  padding: 10px 25px 25px 25px;
  min-height: 100vh;
}

.EditProfile-header,
.PostJobForm-header,
.UpdateJobForm-header {
  font-family: Lato Bold;
  text-transform: uppercase;
  margin: 16px 0;
}

.Select--multi .Select-value {
  background: rgba(18,205,106, 0.08) !important;
  border: solid 1px rgba(18,205,106, 0.24) !important;
  color: #12CD6A !important;
}

.form-group input {
  text-align: left;
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 42px;
  max-width: 500px;
  border: 0;
}

.EditProfile .form-group input,
.PostJobForm .form-group input,
.UpdateJobForm .form-group input {
  box-shadow: none;
  border-bottom: 2px solid #C2C2C2;
}

.EditProfile .form-group input:focus,
.PostJobForm .form-group input:focus,
.UpdateJobForm .form-group input:focus {
  box-shadow: none;
  border-bottom: 2px solid #12CD6A;
  transition: border 0.5s ease-in-out;
}

.form-group select,
.Select, .Select.control {
  text-align: left;
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 42px;
  max-width: 500px;
}

.RegisterForm .form-group input,
.LoginForm .form-group input,
.RegisterForm .form-group select,
.LoginForm .form-group select {
  min-width: 280px;
}

.EditProfile .form-group select,
.PostJobForm .form-group select,
.UpdateJobForm .form-group select {
  border: 2px solid #C2C2C2;
  border-radius: 4px;
}

.EditProfile .form-group select:focus,
.PostJobForm .form-group select:focus,
.UpdateJobForm .form-group select:focus,
.Select:focus, .Select-menu-outer:focus, .Select.control:focus {
  box-shadow: none;
  border: 2px solid #12CD6A;
  transition: border 0.5s ease-in-out;
}

.Select div {
  border: 0;
}

.form-group textarea {
  text-align: left;
  font-family: Open Sans Semibold;
  font-size: 14px;
  color: #333;
  height: 200px;
  width: 100% !important;
  border: 2px solid #C2C2C2;
  box-shadow: none;
}

.RegisterForm .form-group textarea {
  border-color: #FFFFFF;
}

.form-group textarea:focus {
  box-shadow: none;
  border: 2px solid #12CD6A;
  transition: border 0.5s ease-in-out;
}

.form-group label, label, .checkbox label {
  font-family: Lato Regular;
  font-size: 14px;
  font-weight: bolder;
  padding: 0;
}

.radio, .checkbox {
  margin-top: 0;
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
  width: 20px !important;
  min-width: 0;
  margin: -10px 0 0 120px;
  padding: 5px;
}

input[type=file] {
  display: flex;
  font-size: 15px;
  padding: 15px 0 25px;
}

.EditProfile input[type=file] {
  padding: 15px 0 25px;
}

@media only screen
and (min-width: 768px) {
  .LoginForm .form-container {
    padding-top: 10%;
  }

  .form-container{
    margin: 0 auto;
    max-width: max-content;
  }

  .form-fields-container--left {
    padding: 0 15px 0 0;
  }

  .form-fields-container--right {
    padding: 0 0 0 15px;
  }

  .applicant .btn-login-reg {
    margin-top: 38px;
    padding: 11px;
  }

  .employer .btn-login-reg {
    margin-top: 33px;
  }
}

@media only screen
and (max-width: 767px) {
  .form-group textarea {
    width: 80vw;
  }

  .EditProfile,
  .PostJobForm,
  .UpdateJobForm {
    padding: 10px 10px 25px 10px;
  }

  .LoginForm-heading,
  .RegisterForm-heading,
  .EditProfile-header,
  .PostJobForm-header,
  .UpdateJobForm-header {
    text-align: center
  }

  .EditProfile-body .form-control,
  .LoginForm-body .form-control,
  .RegisterForm-body .form-control,
  .PostJobForm-body .form-control,
  .CreditCardForm-body .form-control,
  .UpdateJobForm-body .form-control {
    min-width: 100%;
  }

  .btn {
    width: 100%;
  }
}
